* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    color: white;
}

header nav {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

header nav li {
    margin: 0 15px;
}

/* RESPONSIVE */

@media (max-width:1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    header nav {
        margin-top: 10px;
    }
    header .logo img {
        width: 90%;
    }
    header nav li a {
        font-size: 15px;
    }
}

/* BANNER */
section {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px
}

@media (max-width:1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width:600px) {
    section {
        padding: 130px 30px;
    }
}

.banner {
    position: relative;
    justify-content: center;
    color: white;
    text-align: center;
    min-height: 80vh;
}

.banner .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../img/banner-hero.jpeg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.banner .banner-img::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    content: '';
}

.banner h1 {
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 65px;
}

.banner h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.banner a.banner-btn {
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 50px;
    background: crimson;
}

@media (max-width:800px) {
    .banner {
        min-height: 600px;
    }

    .banner h1 {
        font-size: 25px;
    }
    
    .banner h2 {
        font-size: 20px;
    }
    
    .banner a.banner-btn {
        font-size: 15px;
        padding: 15px 30px;
    }
}


/* DIOS*/
.dios-contenido {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.dios-titulo {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.dios-contenido li {
    padding: 20px;
    height: 300px;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

ul {
    list-style: none;
}

.dios-izq {
    flex-basis: 40%;
    background-image: url('../img/allmight.gif');
}

.dios-der {
    flex-basis: 60%;
}

.dios-contenido p {
    margin-bottom: 35px;
    text-align: justify;
    padding-left: 0;
}

.dios-contenido h2 {
    margin-top: 20px;
    margin-bottom: 2%;
}

.dios-btn {
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 50px;
    background: rgb(129, 114, 117);
}

@media (max-width:1000px) {
    .dios-izq, .dios-der {
        flex-basis: 100%;
    }

    .dios-contenido p {
        text-align: justify;
    }

    .dios-contenido li {
        padding: 8px;
    }

    .dios-der {
        text-align: center;
    }
}

/* MUGIWARAS */
#mugiwaras {
    background: rgb(255, 255, 255);
}

.mugiwaras-contenido {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.mugiwaras-contenido li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;

}



.mugiwaras-contenido li i {
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);

}

.mugiwaras-contenido li h4 {
    margin-bottom: 25px;
    font-size: 20px;
}

.mugiwaras-titulo {
    margin-bottom: 4%;
    font-size: 50px;
    text-transform: uppercase;
}

@media (max-width:1000px) {
    .mugiwaras-contenido li {
        flex-basis: 100%;
        margin-bottom: 60px;
    }

    .mugiwaras-titulo {
        font-size: 40px;
        margin-bottom: 8%;
    }
}

/* MARINA*/
.marina-contenido {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.marina-titulo {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.marina-contenido li {
    padding: 20px;
    height: 300px;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}


.marina-izq {
    flex-basis: 40%;
    background-image: url('../img/afo.gif');
}

.marina-der {
    flex-basis: 60%;
}

.marina-contenido p {
    margin-bottom: 35px;
    text-align: justify;
    padding-left: 0;
}

.marina-contenido h2 {
    margin-top: 20px;
    margin-bottom: 2%;
}

.marina-btn {
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 50px;
    background: crimson;
}

@media (max-width:1000px) {
    .marina-izq, .marina-der {
        flex-basis: 100%;
    }

    .marina-contenido p {
        text-align: justify;
    }

    .marina-contenido li {
        padding: 8px;
    }

    .marina-der {
        text-align: center;
    }
}

/* FOOTER */
footer {
    /* FLEX */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px 0;
}